<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto_perfil.png " alt="" class="img-fluid" id="fotoPerfil">        
    </div >

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre"> Luis Guillermo Martinez </p>
        <p>Full Stack Developer Jr.</p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de:</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ratione asperiores, reiciendis ab assumenda quisquam vitae ut molestias sunt ullam voluptate porro cum! Officia iste, saepe debitis dolor fuga voluptate.</p>
        </span>
    </div>

</div>